body {
    background-color: #b8b8b8;
    margin: auto -0;
}



#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-link {
    float: left;

}

.tabs {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tabs:hover {
    background-color: #111;
    border-radius: 5px;
}

#tittleOfHeader {
    background-color: #333;
    width: 100%;
}

#riley {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 50px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

#aboutMe {
    margin: 100px;
    background-color: rgb(121, 113, 88);
    color: whitesmoke;

}

.logos {
    display: block;
    width: 2%;
    margin: auto;
    float: unset;
}